# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment variables
.env

# Virtual environments
.venv/
env/
venv/

# VS Code settings (optional, if you use VS Code)
.vscode/

# Streamlit cache/config
.streamlit/

# Logs
*.log

# Jupyter Notebook checkpoints (if you use notebooks)
.ipynb_checkpoints/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
